/*ESTRUCTURA PRINCIPAL*/
* {
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #FAFAFA;
	height: 100%;

}

#cabezera{
	width:100%;
	height: 50px;
	border: 0px solid #ccc;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: #43a4c3;
	box-shadow: 2px 2px 5px #999;
}
	#icono{
		width: 40px;
		height: 40px;
		//border: 0.1px solid #ccc;
		float: left;
		margin: 4px;
		margin-left: 20px
	}

		#imgIcon{
			width: 40px;
			position: relative;
		}
    .controles{
			float: left;;
			width: 930px;
     height: 50px;
		 align-items: center;
		background-color: #43a4c3;
		}

	#categorias{
		float: right;
		margin-top: 15px;
		display: block;
		list-style: none;
	}

	#categorias li{
   display: block;
	 	float: left;
	}

	#categorias li a{
		position: relative;
		padding: 12px;
		text-decoration: none;
		color: white;
	}

	#categorias li a:hover{
		background: black;
		/*border: 0.2px solid #ccc;*/
	}

	#categorias li ul{
		border-radius: 14px;
		margin-top: 11px;
		display: none;
		position: absolute;
		width:121px;
		background-color: #43a4c3;
	}


		#categorias li ul li{
    width:100%;
    list-style:none;
    display:block;
	 }

	 #categorias li ul li a{
 		color: white;
    display:block;
    padding:8px
}
		#categorias li:hover ul{
	display:block;
	}

/*Ancho del contenedor, margenes (el primero lo mantiene en el centro de la pagina y el segundo es un margen de arriba)
borde (para comprobar)*/
#contenedor{
	width: 960px;
	height: 480px;
	margin: 0 auto;
	margin-top: 100px;
	//border: 0.2px solid #ccc;
	padding: 1px;
}




/*ESTRUCTURA DEL AREA DE PUBLICAION COMPLETA*/
#contenidoTotal{
	//float: left;
	width: 960px;
	height: 500px;
	//border: 0.2px solid #ccc;
	//margin-bottom: 50px;
	padding: 5px;

	//background-color: white;
}
	#contenidoPub{
		width: 850px;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 15px;
		border: 0.2px solid #ccc;

		background-color: white;
	}

	#contenidoComment{
		width: 850px;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 15px;
		border: 0.2px solid #ccc;

		background-color: white;
	}

		#contenidoComment textarea{
			width: 560px;
			height: 50px;
			padding: 15px;
			margin-right: 10px;
		}

		#contenidoComment button{
			width: 100px;
			height: 50px;
			padding: 15px;
			margin-left: 10px;
			margin-bottom: 10
		}

	#comments{
		width: 850px;
		margin: 0 auto;
		padding: 15px;
		border: 0.2px solid #ccc;
		margin-bottom: 50px;

		background-color: white;
	}


/*PIE DE PAGINA*/

#pie{
	width: 960px;
	margin: 0 auto;
	margin-top: 96px;
	padding: 15px;
	border-top: 0.2px solid #ccc;
	text-align: center;
	float: left;
}

	#pie p {
		color: gray;
		margin: 0 auto;
	}

	#imgIconFooter{
		width: 50px;
	}

/*#footer {
	float: left;
	margin-bottom: 10px;
    width:100%;
    height:80px;
    text-align: center;
}

	#footer p {
		color: gray;
		margin: 0 auto;
	}

	#imgIconFooter{
		width: 50px;*/

/*footer {
	float: right;
	margin-bottom: 10px;
    width:100%;
    height:80px;
    text-align: center;
    position: relative;
}

	footer p {
		color: gray;
		margin: 0 auto;
	}

	#imgIconFooter{
		width: 50px;
	}*/
