@import url(https://fonts.googleapis.com/css?family=Raleway);

#contenidoTotal{
	float: left;
	width: 960px;
	height: 500px;
	padding: 5px;

	//background-color: white;
}
	#contenidoPub{
		width: 850px;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 15px;
		border: 0.2px solid #ccc;
		background-color: white;
		font-family: Raleway;
	}

	#tituloPub{
		text-transform: uppercase;
		font-family: Raleway;
		font-size: 24px;
		font-weight: bold;
		color: #606060;
	}

	#cuerpoPub{
		font-family: Raleway;
		text-align: justify;
	}

	br {
		clear: both;
		color: black;
		background-color: #fff;
	}

	#cuerpoPub p  {
		text-align: center;
	}

	#contenidoComment{
		width: 850px;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 15px;
		border: 0.2px solid #ccc;

		background-color: white;
	}

		#contenidoComment textarea{
			width: 560px;
			height: 50px;
			padding: 15px;
			margin-right: 10px;
		}

		#contenidoComment button{
			width: 100px;
			height: 50px;
			padding: 15px;
			margin-left: 10px;
			margin-bottom: 10px;
		}

	#comments{
		width: 850px;
		margin: 0 auto;
		padding: 15px;
		border: 0.2px solid #ccc;
		margin-bottom: 50px;
		background-color: white: 
		//background-color: #43a4c3;
	}

		.commentario{
			//border-bottom: solid 1px #ccc;
			padding: 15px;
			font-family: Raleway;
		}

		.commentario img{
			width: 43px;
			border-radius: 50px;

		}

		.ctrio{
			width: 750px;
			border: solid 1px #ccc;
			margin-left:10px;
		}
	#sugerenciaRegistro{
		width: 850px;
		margin: 0 auto;
		margin-bottom: 15px; 
		padding: 15px;
		border: solid 0.2px #ccc;
		background-color: white;
		text-align-last: center;
	}

	.boton{
	  width: 100px;
	  height: 30px;
	}
