@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

body{
	background: #FAFAFA;
}

#registro{
	width: 300px;
	margin: 69px auto;
	border: solid 1px #ccc;
	background-color: #fff;
	box-shadow: 2px 2px 5px #999;
}

	#registro span{
		text-align: center;
		font-family: "Source Sans Pro";
		font-size: 20px;
	}

	table{
		margin: 0 auto;
	}

	.inputsrg{
		width: 250px;
		padding: 10px;
		margin: 5px;
	}

	#enviar{
		width: 180px;
		padding: 10px;
		margin: 5px;
		margin-left: 55px;
		background-color: #1079C9;
		border: 0px;
		color: #fff;
		font-family: "Source Sans Pro";
	}

	#enviar:hover{
		background-color: #2698F0;
		cursor: pointer;
	}

#spanx p{
	font-size: 15px;
}

a{	
	color: blue;
	text-decoration: none;
}