@import url(https://fonts.googleapis.com/css?family=Raleway);

#panel{
	border: solid 1px #ccc;
width: 100px;
float: left;
text-align: center;
}

#panel p{
	margin-top: 3px;
	padding: 2px;
	color: #ffffff;
	background: rgb(31, 135, 163);
	border-radius: 3px;
}

#panel a {
	text-decoration: none;
}

#infoUser {
	background-color: #fff;
	width: 750px;
	min-height: 160px;
	margin: 0 auto;
	border: solid 1px #ccc;
	//display: flex;
}

#imgProfile {
	width: 130px;
	height: 130px;
	margin-top: 13px;
	margin-left: 18px;
	border-radius: 100%;
	border: solid 1px #ccc;
	overflow: hidden;
	margin: 0 auto;
}

#imgProfile:hover{
	margin-top: 12px;
	margin-left: 17px;
	cursor: pointer;
	box-shadow: 0px 2px 3px;
	margin: 0 auto;
}

#imgProfile img {
	max-width: 140px;
}

#nameUser {
	width: 400px;
	height: 30px;
	margin-top: 36px;
	margin-left: 180px;
	padding-left: 12px;
	font-family: "Raleway";
	font-size: 14px;
	position: absolute;
	border-bottom: solid 1px #ccc;
	display: inline-flex;
	text-align-last: center;
}

#nameUser div {
	display: flex;
	margin: 0 auto;
}

#nameUser h2 {
	position: relative;
	margin: 0 auto;
	margin-right: 5px;
}

#verified {
	width: 20px;
	height: 20px;
	position: relative;
	margin-left: 5px;
	margin-bottom: 5px;
	//border: solid 1px #ccc;
	border-radius: 100%;
	background-image: url('../imagenes/icon.svg');
	background-size: 20px;
}
#verified:hover{
	cursor: pointer;
	background-color: #E4E4E4;
}

#frase {
	//position: absolute;
	width: 400px;
	margin-top: 75px;
	margin-left: 185px;
	font-family: "Raleway";
	text-align: center;
}



	.publicacion{
		margin: 0 auto;
		width: 550px;
		min-height: 50px;
		border: 0.2px solid #ccc;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;
		z-index: 1;
		margin-top: 20px;
	}

	.publicacion:hover{
		cursor: pointer;
		background-color: #8CC7FF;
	}

	.publicacion a{
		font-family: "Raleway", bold;
		font-weight: bold;
		text-decoration: none;
		color: #606060;
	}
	.publicacion a:hover{
		color: #000
	}

	.publicacion p{
		font-family: "Raleway";
		font-size: 15px;
		text-align: justify;
	}

	.publicacion  p img {
		float: none;
		max-width: 0;
		max-height: 0;
		margin-bottom: 5px;
	}

	br{
		clear: both;
	}

	.portada{

		width: 100%;
		max-height: 150px;
		overflow: hidden;
	}

	.portada img{
		width: 100%;
		vertical-align: middle;
		 transform: translateY(-15%);
	}

	#pP {
		width: 100%;
		margin-top: 5px;
		border-top: 1px solid #ccc;
	}

#pie{
	width: 960px;
	margin: 0 auto;
	margin-top: 96px;
	padding: 15px;
	border-top: 0.2px solid #ccc;
	text-align: center;
	float: left;
}

	#pie p {
		color: gray;
		margin: 0 auto;
	}

	#imgIconFooter{
		width: 50px;
	}
