<!--Se hereda de la plantilla cuerpo para poder utilizarta y no
copiar todo el codigo, se hereda tanto el esqueleto principal de html
y los diseños css y imagenes-->
{% extends 'plantillas/cuerpo.html'%}

{%block cuerpo %}<!--Se tiene que tener el mismo nombre para llamar el espacio-->
<!--Todo lo que se ponga en este apartado aparecera en el cuerpo de la
plantilla de cuerpo.html,-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


<div id="publicaciones">
{%for a in lista%}
	<div class="publicacion">
  {{a}}
	</div>
	{%endfor%}
</div>

{%endblock%}
