{% extends 'plantillas/cuerpo.html'%}

{%block cuerpo %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/publicacion.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/cssrefresh.js') }}"></script>

<div id="contenidoTotal">
	<div id ="contenidoPub">
		{%for texto in resutado%}<!--Se imprime el contenido de la consulta en el metodo publlicacion con el bucle for-->
		<h3 id="tituloPub">{{texto[1]}}</h3>
		<p id="cuerpoPub">
		  {{texto[2]}}
		</p>
			{%endfor%}
	</div>

	<div id="contenidoComment">
			<table>
				<tr>
					<form action="addcoment?ID={{id}}" method="POST">
					<td>
						<textarea id="comentario" name="comentario"></textarea>
					</td>
					<td>
						<input type="submit" value="Enviar" class="boton">
					</td>
				</form>
				</tr>
			</table>
	</div>

{%for comentario in comentarios%}
	<div id="comments">
{{comentario[1]}}
	</div>
{%endfor%}

{%endblock%}
