{% extends 'plantillas/cuerpo.html'%}

{%block cuerpo %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/publicacion.css') }}">

<div id="contenidoTotal">
	<div id ="contenidoPub">
		{%for texto in resutado%}<!--Se imprime el contenido de la consulta en el metodo publlicacion con el bucle for-->
		<h3>{{texto[1]}}</h3>
		<p>
		  {{texto[2]}}
		</p>
			{%endfor%}
	</div>

	<div id="contenidoComment">
		<form>
			<table>
				<tr>
					<td>
						<textarea>

						</textarea>
					</td>

					<td>
						<button>
							Enviar
						</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<div id="comments">

	</div>


{%endblock%}
