{% extends 'plantillas/cuerpo.html' %}
{% block cuerpo %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}">


<!-- En esta sección encontramos la información de un usuario unico -->
{%for a in datos%}
<section id="infoUser">
	<section id="imgProfile">
		<img src="{{url_for('static', filename='imagenes/'+a[8])}}">
	</section>

	<section id="nameUser">
		<div>
		<h2>{{a[1]}} ({{a[5]}} {{a[6]}})</h2>
		<div id="verified" title="verificado"></div>
	</section>
	<section id="frase">
			<p>{{a[9]}}</p>
	</section>
</section>
{%endfor%}
{% endblock %}
