
<!DOCTYPE html>
<!--Cuerpo principal o esqueleto de la pagina-->
<!--Contiene el logo y el css de la pagina principal
asi como el contenedor principal-->
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cuerpo.css') }}">
	 <script type="text/javascript" src="{{ url_for('static', filename='js/cssrefresh.js') }}"></script>

</head>
<body>

	<div id="cabezera">
		<div id="icono">
			<a href="/"><img id="imgIcon" src="{{ url_for('static', filename='imagenes/icon_blog.png') }}"></a>
		</div>
		<div class="controles">
		<ul id="categorias">
      <li><b><a href="/">INICIO</a></b></li>
			<li><b><a href="/">Programacion</a></b>
				<ul>
					<li><b><a href="/">C</a></b></li>
					<li><b><a href="/">C#</a></b></li>
					<li><b><a href="/">C++</a></b></li>
					<li><b><a href="/">JAVA</a></b></li>
					<li><b><a href="/">Ruby</a></b></li>
					<li><b><a href="/">PHP</a></b></li>
					<li><b><a href="/">Python</a></b></li>
				</ul>
			</li>
			<li><b><a href="/">Sistemas operativos</a></b>
				<ul>
					<li><b><a href="/">GNU/Linux</a></b></li>
					<li><b><a href="/">Windows</a></b></li>
					<li><b><a href="/">Mac-os</a></b></li>
				</ul>
			</li>
			<li><b><a href="/">Redes</a></b>
        <ul>
					<li><b><a href="/">Cisco</a></b></li>
				</ul>
			</li>
			<li><b><a href="/">Herramientas</a></b>
        <ul>
					<li><b><a href="/">Editores de texto</a></b></li>
				</ul>
			</li>
			<li><b><a href="/">Hardware</a></b>
        <ul>
        	<li><b><a href="/">Procesadores</a></b></li>
					<li><b><a href="/">Tarjetas Madre</a></b></li>
        </ul>
			</li>
		</ul>
		</div>




  	</div>
	<div id="cuerpo">
		<div id="contenedor">
			{%block cuerpo %}
				<!--Este espacio que es el cuerpo se va a utilizar
				para meter las distitas partes que se usaran en la pagina
				,aqui se tendra todo el contenido que se desee incluir en la
				pagina y se va a heredar todo lo demas asi como el diseño
				y los archivos estaticos-->
			{%endblock%}
			<div id="pie">
				<img id="imgIconFooter" src="{{ url_for('static', filename='imagenes/Footer.png') }}">
				<p>© StreetCode 2017</p>
			</div>
		</div>
	</div>

<!--<footer>
	<img id="imgIconFooter" src="{{ url_for('static', filename='imagenes/Footer.png') }}">
	<p>© StreetCode 2017</p>
</footer>-->

</body>
</html>
