
<!DOCTYPE html>
<!--Cuerpo principal o esqueleto de la pagina-->
<!--Contiene el logo y el css de la pagina principal
asi como el contenedor principal-->
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cuerpo.css') }}">
	 <script type="text/javascript" src="{{ url_for('static', filename='js/cssrefresh.js') }}"></script>

</head>
<body>

	<div id="cabezera">
		<div id="icono">
			<a href="/"><img id="imgIcon" src="{{ url_for('static', filename='imagenes/icon_blog.png') }}"></a>
		</div>

		<table id="navegacion">
				<tr>
					<td>
						<a href="/">Incio</a>
					</td>
					<td>
						<a href="/publicacion">Publicacion</a>
					</td>
				</tr>
			</table>
  	</div>
	<div id="cuerpo">
		<div id="contenedor">
			{%block cuerpo %}
				<!--Este espacio que es el cuerpo se va a utilizar
				para meter las distitas partes que se usaran en la pagina
				,aqui se tendra todo el contenido que se desee incluir en la
				pagina y se va a heredar todo lo demas asi como el diseño
				y los archivos estaticos-->
			{%endblock%}
			<div id="pie">
				<img id="imgIconFooter" src="{{ url_for('static', filename='imagenes/Footer.png') }}">
				<p>© StreetCode 2017</p>
			</div>
		</div>
	</div>

<!--<footer>
	<img id="imgIconFooter" src="{{ url_for('static', filename='imagenes/Footer.png') }}">
	<p>© StreetCode 2017</p>
</footer>-->

</body>
</html>
